@model BTA.Models.Line

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Line</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City1.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City1.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POI.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POI.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
